{
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react",
        ["@babel/preset-env", {
            "trargets": [
                "last 5 versions"
            ]
        }]
    ]
}